* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table{
    border: 2px solid black;
    background-color: rgb(255, 249, 241);
}

.subheading{
    column-span: all;
    background-color: antiquewhite;
    font-weight: bolder;
    text-align: center;
}

.thead{
    font-family: 'Abril Fatface';
}