* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

a{
  color: navy;
  /*text-align: center;*/
}

/*
h1{
  text-align: center;
} */

table{
    border: 2px solid black;
    background-color: rgb(255, 249, 241);
}
/*
.table-container{
    align-items: center;
    justify-content: center;
}*/

.subheading{
    padding: 10px 0;
    background-color: antiquewhite;
    font-weight:600;
    text-align: center;
}

thead{
    font-weight: bold;
    background-color: rgb(220, 220, 219);
    line-height: 50px;
}

/*
tbody{
    padding: 2rem 0;
}*/


